import org.jfxcore.markup.ComponentView
import javafx.scene.control.Label
import javafx.scene.layout.AnchorPane
import java.util.ArrayList

@ComponentView("""
    <AnchorPane>
        <Label text="Hello"/>
    </AnchorPane>
    """)
class MyView : MyViewBase() {
    init { initializeComponent() }
}
