<?xml version="1.0" encoding="UTF-8"?>
<?import javafx.scene.control.Button?>

<Button xmlns="http://javafx.com/javafx" xmlns:fx="http://jfxcore.org/fxml/2.0"
        text="{fx:Evaluate label}" prefWidth="{fx:Observe myWidth}"/>
