<?xml version="1.0" encoding="UTF-8"?>

<?import javafx.scene.layout.BorderPane?>

<BorderPane xmlns="http://javafx.com/javafx"
            xmlns:fx="http://jfxcore.org/fxml/2.0"
            fx:subclass="com.example.MyView"/>
